{{- $schema := printf "%s-init-schema" (include "dt4mob.fullname" .) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $schema }}
data:
  init-schema.sql: |
    CREATE EXTENSION IF NOT EXISTS timescaledb;

    GRANT CREATE ON DATABASE {{ .Values.timescale.database }} TO {{ .Values.timescale.username }};
    GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO {{ .Values.timescale.username }};
    GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO {{ .Values.timescale.username }};
    ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON TABLES TO {{ .Values.timescale.username }};