{{- $clusterName := printf "%s-timescale-cluster" (include "dt4mob.fullname" .) }}
{{- $imgcatalog := printf "%s-cloudnative-pg-timescaledb-pg15" (include "dt4mob.fullname" .) }}
{{- $secretName := printf "%s-timescale-secret" (include "dt4mob.fullname" .) }}
{{- $schema := printf "%s-init-schema" (include "dt4mob.fullname" .) }}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ $clusterName }}
spec:
  instances: {{ .Values.timescale.instances }}
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ImageCatalog
    name: {{ $imgcatalog }}
    major: 15
  postgresUID: {{ .Values.timescale.securityContext.postgresUID }}
  postgresGID: {{ .Values.timescale.securityContext.postgresGID }}

  postgresql:
    shared_preload_libraries:
    - 'timescaledb'
    parameters:
    {{- range $key, $value := .Values.timescale.postgresql.parameters }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}

    pg_hba:
      - host all all all scram-sha-256

  bootstrap:
    initdb:
      database: {{ .Values.timescale.database }}
      {{- $secretObj := (lookup "v1" "Secret" .Release.Namespace $secretName) | default dict }}
      {{- $secretData := (get $secretObj "data") | default dict }}
      {{- $username := (get $secretData "username") | b64dec }}
      owner: {{ $username | default .Values.timescale.username | default "admin" }}
      secret:
        name: {{ $secretName }}
      postInitApplicationSQLRefs:
        configMapRefs:
        - name: {{ $schema }}
          key: init-schema.sql

  storage:
    size: {{ .Values.timescale.storage.size }}
    storageClass: {{ .Values.timescale.storage.storageClass | quote }}