{{- $secretName := printf "%s-timescale-secret" (include "dt4mob.fullname" .) }}
{{- $secretObj := (lookup "v1" "Secret" .Release.Namespace $secretName) | default dict }}
{{- $secretData := (get $secretObj "data") | default dict }}
{{- $username := (get $secretData "username") | b64dec }}
{{- $password := (get $secretData "password") | b64dec }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "dt4mob.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ $username | default .Values.timescale.username | default "admin" }}
  password: {{ $password | default .Values.timescale.password | default (randAlphaNum 16) }}