LOG_LEVEL=INFO

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SECURITY_PROTOCOL=SSL
KAFKA_SSL_CA_LOCATION=/certs/ca.crt
KAFKA_SSL_CERTIFICATE_LOCATION=/certs/client.crt
KAFKA_SSL_KEY_LOCATION=/certs/client.key
KAFKA_CONSUMER_GROUP=historical-writer
KAFKA_TOPIC=ditto-events
KAFKA_AUTO_OFFSET_RESET=latest

TIMESCALE_DATABASE_TIMEZONE=Europe/Lisbon
TIMESCALE_CONNECTION=postgresql://user:password@localhost:5432/dt4mob
